{% extends 'base.html' %}
{%block title%}ShortLINK{%endblock title%}
{% block content %}\
<style>
     html, body {
            background-color: #2B7A78; 
            margin: 0; 
            padding: 0; 
            height: 100%; 
        }
</style>
<div class="" style="background-color: #2B7A78;padding-top:10rem; padding-bottom:8rem; height: 40rem ">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <div style="font-size: 100px; color: #7A2B3D; font-weight: bold;">ShortLink</div>
        </div>
        <div class="col-md-6 text-center">
            <h5 style="color: #fff; line-height: 1.6;">
                Tired of sharing long and complex URLs? <br>
                Say hello to ShortLink, where simplicity meets efficiency.<br>
                With <span style="color: #7A2B3D; font-weight: bold;">ShortLink</span><br>
                you can shorten your URLs with<br>
                <span class="badge bg-danger rounded-pill">Zero Ads</span>
                <span class="badge bg-light rounded-pill" style="color:#2B7A78">Free Account</span>
                <span class="badge bg-warning rounded-pill">High Security</span>
            </h5>
        </div>
    </div>
</div>
{% endblock content %}
